@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";

/* Skin-specific responsive styles
---------------------------------- */
@media (max-width: 1679px) {
  .sc_widget_slider .swiper-button-next, .sc_widget_slider .swiper-button-prev {
    margin-top: -47px;
  }
  .footer_wrap .socials_wrap .social_item .social_icon{
    margin-top: 0px;
  }
  .menu_mobile_narrow .menu_mobile_nav_area > ul > li > a,
  .author_bio,
  body .trx_addons_tabs .trx_addons_tabs_content .post_item .post_content .post_title a{
    font-size: 17px;
  }
  .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) .mejs-controls{
    padding-top: 5px;
  }
  body .mejs-container,
  .mejs-controls{
    height: 52px !important;
  }
  body .trx_addons_audio_player {
    padding: 2em 0 0 !important;
  }
  .trx_addons_audio_player .mejs-controls {
    padding: 6px 1.2em;
  }
  .ua_gecko .secondary_meta_wrap .single_share .post_share .social_items .social_item {
    padding: 7px 30px;
  }
  body .secondary_meta_wrap .single_share .post_share .social_items .social_item {
    padding: 8px 30px;
  }
  body .secondary_meta_wrap .single_share .post_share .social_items .social_item .social_icon span:before {
    margin-top: -1px;
  }
}
@media (max-width: 1439px) {
  .menu_mobile_narrow .menu_mobile_nav_area > ul > li > a{
    font-size: 17px;
  }
  .sc_team_short .sc_team_item_subtitle{
    font-size: 13px;
  }

}
@media (max-width: 1279px) {
  button:not(.components-button),
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  .theme_button,
  .post_item .more-link,
  .gallery_preview_show .post_readmore,
  .yolox_tabs .yolox_tabs_titles li a,
  #buddypress .comment-reply-link,
  #buddypress .generic-button a,
  #buddypress a.button,
  #buddypress button,
  #buddypress input[type="button"],
  #buddypress input[type="reset"],
  #buddypress input[type="submit"],
  #buddypress ul.button-nav li a,
  #buddypress div.activity-meta a,
  a.bp-title-button,
  body #booked-profile-page input[type="submit"],
  body #booked-profile-page button,
  body .booked-list-view input[type="submit"],
  body .booked-list-view button,
  body table.booked-calendar input[type="submit"],
  body table.booked-calendar button,
  body .booked-modal input[type="submit"],
  body .booked-modal button,
  .edd_download_purchase_form .button,
  #edd-purchase-button,
  .edd-submit.button,
  .widget_edd_cart_widget .edd_checkout a,
  form.mc4wp-form .mc4wp-form-fields input[type="submit"],
  .sc_button,
  .sc_layouts_row .sc_button,
  .sc_form button,
  .tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"]{
    font-size: 14px;
    line-height: 14px;
    padding: 16px 17px 14px;
    letter-spacing: 0;
  }
  .show_comments{
    margin-bottom: 2.3em;
  }

  #tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title{
    font-size: 14px;
  }
  .ua_gecko .secondary_meta_wrap .single_share .post_share .social_items .social_item {
    padding: 8px 30px;
  }
  body .secondary_meta_wrap .single_share .post_share .social_items .social_item{
    padding: 8px 30px;
  }
  body .secondary_meta_wrap .single_share .post_share .social_items .social_item .social_icon span:before {
    margin-top: -2px;
  }
  .slider_style_default .slider_titles_bottom .swiper-button-next,
  .slider_style_default .slider_titles_bottom .swiper-button-prev {
    top: 50% !important;
  }

}

@media (max-width: 1023px) {
  .sc_recent_news_style_announce2 .sc_button,
  .more-link a,
  body .posts_container .more-link {
    font-size: 12px !important;
  }
  nav.sc_item_pagination .nav-links{
    margin-top: 0;
  }
  .sidebar .widget, .sidebar[class*="scheme_"] .widget{
    width: 47%;
    margin: 10px !important;
  }
  .sidebar .sidebar_inner {
    margin: 0 -10px;
  }
  .menu_mobile .social_item .social_icon{
    font-size: 1.2em;
  }
  body .posts_container .post_format_audio.post_item .post_header{
    padding-bottom: 0 !important;
  }
  .slider_style_default .slider_titles_bottom .swiper-button-next,
  .slider_style_default .slider_titles_bottom .swiper-button-prev {
    top: 50% !important;
  }
  body .secondary_meta_wrap .single_share .post_share .social_items .social_item .social_icon span:before {
    margin-top: -2px;
  }
  body .secondary_meta_wrap .single_share .post_share .social_items .social_item{
    padding: 8px 16px;
  }
  .ua_gecko .secondary_meta_wrap .single_share .post_share .social_items .social_item {
    padding: 8px 30px;
  }

}



@media (max-width: 767px) {
  .slider_container .slide_info.slide_info_large .slide_title{
    font-size: 16px;
  }
  .sc_blogger_extra .sc_blogger_item_content{
    width: 100%;
  }
  .slide_info.slide_info_large .post_categories{
    display: none;
  }
  .slider_container .slide_info.slide_info_large{
    padding: 1em;
  }
  .slider_container .slide_info.slide_info_large .post_meta{
    font-size: 0.8em;
  }
  .slider_titles_bottom .swiper-button-next, .slider_titles_bottom .swiper-button-prev {
    margin-top: -48px;
  }
  .row.columns_padding_bottom > [class*="column-"],
  .columns_wrap.columns_padding_bottom > [class*="column-"],
  .row > [class*="column-"].columns_padding_bottom,
  .columns_wrap > [class*="column-"].columns_padding_bottom,
  .trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
  .trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom{
    padding-bottom: 30px;
  }

  .sc_blogger_extra .sc_blogger_item_content{
    transform: none;
  }
  .masonry_wrap .masonry_item .post_item .post_header{
    padding-bottom: 0 !important;
  }
  .slider_titles_bottom .swiper-button-next, .slider_titles_bottom .swiper-button-prev {
    margin-top: -55px;
  }
  .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) .mejs-controls {
    padding-top: 2px;
  }
  .sidebar .widget, .sidebar[class*="scheme_"] .widget{
    width: 100%;
    margin: 0!important;
    margin-top: 10px !important;
  }
  .sidebar .sidebar_inner {
    margin: 0px;
  }
  .menu_mobile .social_item .social_icon{
    font-size: 1.2em;
  }
  .wpcf7 span.wpcf7-not-valid-tip{
    font-size: 0.9em;
  }
  .blog .posts_container .post_format_quote .quote-wrapper{
    padding: 0;
  }
  .footer_wrap .socials_wrap .social_item .social_icon {
    margin-top: -2px;
  }


  .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) .mejs-controls {
    padding-top: 6px;
  }

  body .secondary_meta_wrap .single_share .post_share .social_items .social_item .social_icon span:before {
    margin-top: 0;
  }
  .post_meta_single .secondary_meta_wrap .single_share .post_share .social_items .social_item,
  body .secondary_meta_wrap .single_share .post_share .social_items .social_item{
    padding: 8px 16px;
  }
  .tribe-events-list .tribe-events-loop .tribe-events-event-image {
    float: none;
    margin: 0 0 1em;
    width: 100%;
    text-align: center;
  }
  .ua_gecko .secondary_meta_wrap .single_share .post_share .social_items .social_item {
    padding: 7px 20px;
  }
  .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) .mejs-controls{
    padding-top: 10px;
  }
  .trx_addons_audio_player .mejs-controls{
    padding: 6px 1.2em;
  }
  .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) .mejs-controls{
    padding-top: 8px !important;
  }
  .post_item_single .post_content > .post_meta_single .post_share{
    margin-top: 0;
  }
  .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) .mejs-controls{
    padding-top: 6px !important;
  }
  .author_bio p {
    font-size: 12px;
  }


}

@media (max-width: 479px) {
  .sidebar .widget + .widget, .sidebar[class*="scheme_"] .widget + .widget,
  .sidebar .widget + .widget + .widget,
  .sidebar[class*="scheme_"] .widget + .widget + .widget{
    padding-top: 0!important;
  }
  .sc_team_short .sc_team_item_subtitle{
    font-size: 13px;
  }
  .menu_mobile .social_item .social_icon{
    font-size: 1.2em;
  }
  body .mejs-button,
  body .mejs-time,
  body .mejs-time-rail {
    width: 33px;
  }
  #tribe-mobile-container .type-tribe_events .tribe-events-event-image {
    float: none;
    width: 100%;
    margin: 5px 0 20px 0px;
  }
  .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) .mejs-controls {
    padding-top: 8px;
  }
  .ua_safari .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) .mejs-controls{
    padding-top: 9px !important;
  }
  #tribe-events .tribe-events-button,
  .tribe-events-button,
  .tribe-events-cal-links a,
  .tribe-events-sub-nav li a{
    margin: 1em 0 !important;
  }

  .chess_wrap{
    margin-bottom: 3em;
  }
  .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) .mejs-controls{
    padding-top: 8px !important;
  }

  .wpgdprc-checkbox label input:before {
    font-size: 1.1em;
  }

  .ua_ie .sc_icons_size_small .sc_icons_icon:before,
  .ua_ie .sc_icons_size_small .sc_icons_icon > span:before{
    font-size: 0.05em;
  }

  .ua_ie .sc_layouts_menu_nav > li.menu-item-has-children > a:after {
    top:48%;
  }

  .ua_ie .wpgdprc-checkbox label input[type="checkbox"] {
    width: 15px;
  }

  .ua_ie .post_layout_excerpt.post_format_audio .post_title {
    border-bottom:1px solid #131e29;
    margin-bottom: -1px;
  }

  .ua_safari .sc_button,
  .ua_safari .wpcf7-submit{
    padding: 1em 2.5em;
  }
  .ua_safari .comments_form .wpgdprc-checkbox label input:before {
    top:0;
  }
  }