/* Skin-specific styles
----------------------- */
.menu_mobile .sc_layouts_logo {
  width: 10em;
}

body .secondary_meta_wrap .single_share .socials_share {
  font-size: 14px;
}

body .secondary_meta_wrap .single_share .post_share .social_items .social_item {
  padding: 8px 30px;
}

body .secondary_meta_wrap .single_share .post_share .social_items .social_item .social_icon span:before {
  margin-top: -1px;
}

/* Typography */
.alignleft,
.alignright,
.aligncenter {
  -webkit-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  border-radius: 5px !important;
}

.trx_addons_dropcap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

figure figcaption,
.wp-caption .wp-caption-text,
.wp-caption .wp-caption-dd,
.wp-caption-overlay .wp-caption .wp-caption-text,
.wp-caption-overlay .wp-caption .wp-caption-dd {
  padding: 22px 10px 14px;
}

.trx_addons_tooltip:after {
  margin: 0 0 -8px -2px;
}

.slider_style_default .slider_titles_bottom .swiper-button-next,
.slider_style_default .slider_titles_bottom .swiper-button-prev {
  top: 50% !important;
}

/*Tables*/
.sc_table table tr:first-child th,
.sc_table table tr:first-child td {
  font-weight: 600;
}

.sc_table table th {
  padding: 1.2em 1em;
}

.sc_table table td {
  padding: 1.3em 1em;
}

.sc_table {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/*Audio Video*/
body .trx_addons_audio_player {
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.mejs-volume-button.mejs-mute > button {
  margin-left: 12px;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-controls .mejs-time-rail .mejs-time-hovered,
.mejs-controls .mejs-volume-slider .mejs-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #434b54 !important;
}

/*Buttons*/
form button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.theme_button,
.post_item .more-link,
.gallery_preview_show .post_readmore,
#buddypress .comment-reply-link,
#buddypress .generic-button a,
#buddypress a.button,
#buddypress button,
#buddypress input[type="button"],
#buddypress input[type="reset"],
#buddypress input[type="submit"],
#buddypress ul.button-nav li a,
#buddypress div.activity-meta a,
a.bp-title-button,
body #booked-profile-page input[type="submit"],
body #booked-profile-page button,
body .booked-list-view input[type="submit"],
body .booked-list-view button,
body table.booked-calendar input[type="submit"],
body table.booked-calendar button,
body .booked-modal input[type="submit"],
body .booked-modal button,
.mc4wp-form .mc4wp-form-fields input[type="submit"],
.sc_button,
.sc_form button,
.tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"],
.edd_download_purchase_form .button,
#edd-purchase-button,
.edd-submit.button,
.widget_edd_cart_widget .edd_checkout a {
  padding: 1.33em 2.5em 1em;
}

.ua_ie .sc_layouts_row .sc_button.sc_button_size_small,
.ua_ie .sc_button.sc_button_size_small, .theme_button.theme_button_small {
  padding: 1.2em 3.3em 0.7em;
}

.ua_ie .nav-links-more:not(.nav-links-infinite) a {
  padding: 1.2em 2.2em 1em;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed, select:-internal-autofill-selected {
  background-color: transparent !important;
}

.search_style_fullscreen.search_opened .search_field,
.sc_layouts_row_type_normal .sc_layouts_column .search_style_fullscreen.search_opened .search_field {
  padding: 0 1em !important;
  border-radius: 0 !important;
}

.sc_button_icon, .sc_button_text {
  line-height: 1.1em;
  vertical-align: middle;
}

.events-archive.events-gridview #tribe-events-content table .type-tribe_events {
  z-index: 6;
}

#tribe-events-footer .tribe-events-sub-nav {
  padding: 0;
}

#tribe-events-footer .tribe-events-sub-nav li {
  padding-top: 1.15em !important;
  padding-bottom: 1.1em !important;
}

abbr[title], acronym[title] {
  text-decoration: none !important;
}

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous,
#tribe-events-footer .tribe-events-sub-nav li,
#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous,
#tribe-events-header .tribe-events-sub-nav li {
  margin-top: 0.6em !important;
  margin-bottom: 0.6em !important;
}

.tribe-events-list .type-tribe_events .tribe-events-list-event-title,
.tribe-events-list .tribe-events-event-meta {
  text-align: left;
  display: block;
}

/*Sidebar Widgets*/
.elementor-widget-sidebar .widget,
.sidebar .widget {
  border: 1px solid #f2f2f2 !important;
  border-radius: 10px;
}

.sidebar_inner .widget + .widget {
  border-color: #f2f2f2 !important;
}

.elementor-widget-sidebar .widget + .widget,
.elementor-widget-sidebar[class*="scheme_"] .widget + .widget,
.sidebar .widget + .widget,
.sidebar[class*="scheme_"] .widget + .widget {
  margin-top: 1.7rem;
}

aside.widget_fullwidth {
  padding: 0 !important;
}

.menu_mobile .socials_mobile {
  margin-top: 2em;
  margin-bottom: 2em;
}

/*Footer Widgets*/
.footer_wrap .socials_wrap .social_item .social_icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  background-color: transparent !important;
  margin-top: -3px;
}

.footer_wrap .socials_wrap .social_item .social_icon + .social_name {
  vertical-align: middle;
  margin-top: 0;
}

.footer_wrap .socials_wrap .social_item {
  margin-top: 0;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .footer_wrap .socials_wrap .social_item {
    margin-top: 0;
    margin-right: 7px;
  }
}

.footer_wrap .socials_wrap .social_item .social_name {
  font-size: 15px;
}

@media (max-width: 767px) {
  .footer_wrap .socials_wrap {
    white-space: pre-wrap;
  }
}

/*Mailchimp*/
form.mc4wp-form .mc4wp-form-fields input[type="email"],
form.mc4wp-form .mc4wp-form-fields button {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

form.mc4wp-form .mc4wp-form-fields input[type="email"] {
  margin-top: 1em;
}

form.mc4wp-form .mc4wp-form-fields button .icon-paper-plane-light:before {
  margin-left: 10px;
  margin-top: 0px !important;
  position: relative;
}

form.mc4wp-form p + p, form.mc4wp-form input + p {
  margin-top: 0;
}

/*Posts*/
body .posts_container .post_item.post_layout_excerpt,
body .posts_container .related_item.post_layout_excerpt {
  border-radius: 6px;
}

body .posts_container .post_item:not(.post_format_audio) .post_featured {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

body .posts_container .post_item .post_header,
body .posts_container .post_item .post_content,
body .posts_container .related_item .post_header,
body .posts_container .related_item .post_content {
  padding: 0;
}

body .posts_container .post_item .more-link,
body .posts_container .related_item .more-link {
  padding: 1.45em 0;
}

body .posts_container .post_item .more-link:after,
body .posts_container .related_item .more-link:after {
  right: 0;
}

.post_layout_excerpt + .post_layout_excerpt {
  margin-top: 2.8rem;
}

.blog .posts_container .post_format_quote .quote-wrapper {
  -webkit-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  border-radius: 4px !important;
}

.blog .posts_container .post_format_quote .quote-wrapper .post_content,
.blog .posts_container .post_format_quote .quote-wrapper blockquote {
  -webkit-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  border-radius: 4px !important;
  margin-bottom: 0;
}

.post_layout_chess_1 .post_inner_content,
.post_layout_chess_2 .post_inner_content,
.post_layout_chess_3 .post_inner_content {
  padding: 0 2em;
}

.chess_wrap {
  margin-bottom: 5em;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

body .posts_container .post_item,
body .posts_container .related_item {
  background-color: transparent !important;
}

div.esg-filters,
.comments_pagination,
.nav-links,
.page_links {
  margin-top: 3em;
}

nav.sc_item_pagination .nav-links {
  margin-top: 4px;
}

.sticky .post_title {
  margin-bottom: 0 !important;
}

.sticky.post_item:not(.format-audio) .post_header {
  margin-bottom: 2.1em !important;
}

.author_info,
.nav-links-single .nav-links {
  background-color: transparent !important;
}

.nav-links-single .nav-links .nav-previous .nav-arrow, .nav-links-single .nav-links .nav-next .nav-arrow {
  background-color: transparent !important;
}

.quote-wrapper blockquote {
  padding: 0;
  margin: 0;
}

.quote-wrapper blockquote:before {
  top: 0;
  left: -1.5em;
}

.trx-blockquote {
  background: transparent !important;
  padding: 1em 2em !important;
}

.quote-wrapper .post_item .post_content {
  padding: 0;
}

.trx-blockquote:before {
  top: 0.6em !important;
  left: 0em !important;
}

.quote-wrapper + .post_meta {
  margin-top: 2em !important;
  padding-left: 0;
}

.header_position_default.thumbnail_type_default.post_header_position_under .post_featured + .post_header_single {
  margin-top: 3em;
}

.single-post.thumbnail_type_default .page_content_wrap {
  padding-top: 0;
}

.post_format_audio .media-block {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.post_layout_excerpt.post_format_audio .post_featured.without_thumb {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.format-audio .post_header {
  margin-top: 2em;
}

.post_header_single .post_meta .post_categories > a {
  padding: 0.5em 1.2em;
}

.related_wrap .posts_container.columns_wrap .column-1_3 .related_content_wrap .post_header_single .post_meta {
  margin-bottom: 1.8em;
  margin-top: 0.7em;
}

.chess_wrap.posts_container + .navigation.pagination {
  margin-bottom: 4em;
}

.chess_wrap.posts_container + .navigation.pagination .nav-links {
  text-align: center !important;
}

.masonry_wrap .masonry_item .post_item .post_content.entry-content {
  display: block !important;
}

body .secondary_meta_wrap .single_share .post_share .social_items .social_item .social_icon {
  vertical-align: middle;
}

.wpgdprc-checkbox label {
  padding-left: 1.2em;
  position: relative;
  padding-bottom: 0 !important;
  display: inline-block;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .wpgdprc-checkbox label {
    padding-left: 1.2rem;
  }
}

.wpgdprc-checkbox label input:before {
  content: '';
  font-family: "fontello";
  font-size: 0.9em;
  display: block;
  text-align: center;
  border: 1px solid;
  width: 0.9em;
  height: 0.9em;
  line-height: 0.9em;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 479px) {
  .wpgdprc-checkbox label input:before {
    font-size: 1.4em;
    margin-top: 0;
  }
}

.wpgdprc-checkbox label input:checked:before {
  content: '\e8ab';
}

.wpgdprc-checkbox label input[type="checkbox"] {
  width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

div.wpcf7-mail-sent-ok,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border-radius: 5px;
}

div.wpcf7-mail-sent-ok {
  border-color: #723cea;
}

/*Borders & Shadows*/
div.esg-filters,
.comments_pagination,
.nav-links,
.page_links {
  text-align: left;
}

.esg-filters div.esg-navigationbutton,
.page_links > span:not(.page_links_title),
.page_links > a,
.comments_pagination .page-numbers,
.nav-links .page-numbers {
  -webkit-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  border-radius: 50px !important;
  font-size: 14px;
  width: 3.3em;
  height: 3.3em;
  line-height: 3.3em;
  text-align: center;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.02);
}

.ua_ie .esg-filters div.esg-navigationbutton,
.ua_ie .page_links > span:not(.page_links_title),
.ua_ie .page_links > a,
.ua_ie .comments_pagination .page-numbers,
.ua_ie .nav-links .page-numbers {
  line-height: 3.7em;
}

.related_wrap .posts_container.columns_wrap .column-1_3:first-of-type .related_item {
  overflow: visible;
}

.related_wrap .posts_container.columns_wrap .column-1_3:first-of-type .related_item .related_content_wrap {
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}

.nav-links-single .nav-links,
.author_info,
.counters_wrap .post_meta .post_meta_item,
.post_meta_single .post_tags > a {
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.02);
}

.counters_wrap .post_meta .post_meta_item + .post_meta_item {
  margin-left: 0px;
  border-left: 0;
}

#dpsp-floating-sidebar {
  border: 1px solid #f2f2f2;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.02);
}

.post_categories > a {
  padding: 0.5em 1.2em;
  font-size: 12px;
  line-height: 1em;
}

.mfp-figure:after {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  right: 20px;
  text-align: right;
  padding-right: 6px;
  font-size: 29px;
  width: 40px;
  height: 40px;
  cursor: initial !important;
}

button.mfp-close, button.mfp-arrow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*Related*/
.related_wrap .posts_container.columns_wrap .column-1_3:first-of-type .related_item .related_content_wrap .more-link {
  display: none;
}

.related_wrap .posts_container.columns_wrap .column-1_3:first-of-type .related_item .related_content_wrap .secondary_meta_wrap {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.related_wrap .posts_container.columns_wrap .column-1_3 .related_item {
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.related_wrap .posts_container.columns_wrap .column-1_3 .related_content_wrap .more-link {
  padding-left: 0;
}

.related_wrap .posts_container.columns_wrap .column-1_3 .related_content_wrap .post_title {
  font-size: 1.3em;
}

.related_wrap .post_title {
  margin: 0 0 0.4em;
  padding: 0 0;
}

.related_wrap .posts_container.columns_wrap .related_item {
  border-radius: 0;
}

.related_wrap .posts_container.columns_wrap .related_item .post_featured {
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.related_wrap .posts_container.columns_wrap .column-1_3 .related_content_wrap .secondary_meta_wrap,
.related_wrap .post_title {
  padding-left: 0;
  padding-right: 0;
}

.related_wrap .posts_container.columns_wrap [class*="column-"]:first-of-type .related_item .media-block {
  margin: 0;
}

.related_wrap .posts_container.columns_wrap [class*="column-"]:first-of-type .related_item.format-audio .post_header_single .post_meta {
  margin-top: 1.1em;
}

/*Blogger*/
.sc_blogger_full .sc_blogger_item,
.sc_blogger_default .sc_blogger_item {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sc_blogger_full .trx_addons_column-1_1 .sc_blogger_item_content,
.sc_blogger_full .trx_addons_column-1_2 .sc_blogger_item_content,
.sc_blogger_default .trx_addons_column-1_1 .sc_blogger_item_content,
.sc_blogger_default .trx_addons_column-1_2 .sc_blogger_item_content {
  padding: 2.2em 0 1.6em;
  text-align: left;
}

.sc_blogger_full .sc_blogger_item_content,
.sc_blogger_default .sc_blogger_item_content {
  padding: 1.4em 0 0.3em;
}

body .sc_blogger.sc_blogger_default .sc_blogger_item .blogger-wrap {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.sc_blogger_full .post_featured, .sc_blogger_default .post_featured {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

nav.sc_item_pagination .nav-links {
  margin-top: 33px;
  display: inline-block;
}

.sc_blogger_masonry nav.sc_item_pagination .nav-links {
  margin-top: 42px;
}

.sc_blogger_modern nav.sc_item_pagination {
  margin-top: 0;
}

.blogger_content_wrap {
  padding: 2.2em 0;
}

.sc_blogger .more-link a {
  font-size: 14px;
  font-weight: 600;
  display: block;
  padding: 0 !important;
  text-align: left;
  border-radius: 0;
}

.sc_blogger .more-link {
  padding: 1.35em 0 !important;
}

.sc_blogger_item_featured {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.sc_blogger_modern .blogger_content_wrap {
  padding: 2.2em 0 0.3em;
}

.sc_blogger_item_content .sc_blogger_item_header .post_meta {
  margin-top: 0.8em;
}

.sc_blogger_extra .sc_blogger_item_content {
  position: relative;
  text-align: center;
  width: 87%;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-17%);
  -ms-transform: translateY(-17%);
  transform: translateY(-17%);
  border-radius: 7px;
  padding: 2.1em 2em;
  z-index: 7;
}

.sc_blogger_extra .sc_blogger_item_content .entry-title {
  will-change: transform;
}

.sc_blogger_extra .post_meta {
  margin-top: 0.9em !important;
}

.masonry_wrap .post_item .post_header {
  margin-bottom: 1.5em;
}

.masonry_wrap .more-link {
  padding: 1.6em 0 !important;
}

.masonry_wrap .post_header {
  margin-top: 1.6em;
  margin-bottom: 1.5em;
}

.masonry_wrap .masonry_item {
  padding-bottom: 10px !important;
}

.masonry_wrap .masonry_item .post_item .post_content.entry-content {
  margin-bottom: 0 !important;
}

body .posts_container .post_item .more-link:after,
body .posts_container .related_item .more-link:after {
  font-weight: 500;
}

/*Team*/
.sc_team_short .sc_team_item_info {
  -webkit-transform: translateY(-23px);
  -ms-transform: translateY(-23px);
  transform: translateY(-23px);
  position: relative;
  margin: 0 1.2em;
  z-index: 9;
  padding: 1.65em 1em;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.sc_team_short .trx_addons_hover_mask {
  z-index: 5;
}

.sc_team_short .sc_team_item_info .sc_team_item_title {
  font-size: 1.12em;
}

.sc_team_short .sc_team_item_subtitle {
  font-size: 13px;
  margin-top: 13px;
}

.sc_team_short .sc_team_item_thumb {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.sc_team_short .trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
.sc_team_short .trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
  padding-bottom: 0;
}

.sc_team .sc_team_item_thumb .sc_team_item_socials .social_item .social_icon span:before {
  margin-top: -3px;
}

.team_member_page .team_member_content {
  margin: 0;
}

/*Events*/
.tribe-events-nav-pagination,
#tribe-bar-form button, #tribe-bar-form a, .tribe-events-read-more,
#tribe-events .tribe-events-button, .tribe-events-button,
.tribe-events-cal-links a,
#tribe-bar-views-toggle,
#tribe-bar-form .tribe-bar-submit input[type="submit"],
#tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"] {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

#tribe-bar-views-toggle {
  background-color: transparent !important;
  background: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ededed  !important;
  padding: 0.92em 1.2em;
}

.tribe-events-calendar th {
  font-size: 1.12rem;
}

#tribe-bar-form .tribe-bar-submit input[type="submit"],
#tribe-bar-form button, #tribe-bar-form a,
#tribe-events .tribe-events-button,
#tribe-bar-views .tribe-bar-views-list,
.tribe-events-button, .tribe-events-cal-links a,
#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

#tribe-events-content table.tribe-events-calendar thead {
  overflow: hidden;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

#tribe-events-header .tribe-events-sub-nav {
  line-height: 5em;
}

#tribe-events-header .tribe-events-nav-pagination {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*Slider*/
.slider_container.slider_type_images .slider-slide {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .slider_container.slider_type_images .slider-slide {
    display: block;
  }
}

.slider_container.slider_type_images .slider-slide > img {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.slider_container .slide_info.slide_info_large {
  width: 56%;
  -webkit-transform: translateY(58%);
  -ms-transform: translateY(58%);
  transform: translateY(58%);
  padding: 2.7em;
}

@media (max-width: 767px) {
  .slider_container .slide_info.slide_info_large {
    display: block;
    position: static;
    width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.slider_container .slide_info.slide_info_large .slide_title {
  font-weight: 600;
  margin: 0.7em 0 0.4em;
}

.swiper-button-next, .swiper-button-prev {
  margin-top: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sc_widget_slider .swiper-button-next, .sc_widget_slider .swiper-button-prev {
  margin-top: -60px;
}

.slider_style_default .slider_controls_side .slider_controls_wrap > a {
  width: 4em;
}

/*Services*/
.services_single .services_page_featured img {
  width: 100%;
}

.sc_services .sc_button.sc_button_simple:before, .sc_services .sc_button.sc_button_simple:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 3px;
}

.blog .format-quote .post_meta {
  padding: 0 0;
}

.comments_form .wpgdprc-checkbox input[type="checkbox"] {
  top: 0.5em;
}

.comments_form .wpgdprc-checkbox label {
  margin-left: 0;
}

.ua_ie .nav-links .page-numbers.prev,
.ua_ie .nav-links .page-numbers.next {
  line-height: 3.2em;
}

.ua_ie .sc_layouts_menu_nav > li.menu-item-has-children > a:after {
  top: 45%;
}