/* Skin-specific styles
----------------------- */
body .secondary_meta_wrap .single_share .socials_share {
  font-size: 14px;
}

body .secondary_meta_wrap .single_share .post_share .social_items .social_item {
  padding: 6px 30px;
}

body .secondary_meta_wrap .single_share .post_share .social_items .social_item .social_icon span:before {
  margin-top: -1px;
}

/* Typography */
.trx_addons_dropcap {
  border-radius: 6px;
}

.alignleft,
.alignright,
.aligncenter {
  -webkit-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  border-radius: 5px !important;
}

/*Tables*/
.sc_table table tr:first-child th,
.sc_table table tr:first-child td {
  font-weight: 600;
}

.sc_table table th {
  padding: 1.2em 1em;
}

.sc_table table td {
  padding: 1.3em 1em;
}

/*wrappers*/
.page_content_wrap {
  padding-top: 2rem;
  padding-bottom: 7rem;
}

/*Inputs & buttons*/
input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
select,
.select_container,
textarea,
.widget_search .search-field,
.widget_display_search #bbp_search,
#bbpress-forums #bbp-search-form #bbp_search,
.comments_wrap .comments_field input,
.comments_wrap .comments_field textarea,
.select2-container.select2-container--default span.select2-choice,
.select2-container.select2-container--default span.select2-selection,
.sc_edd_details .downloads_page_tags .downloads_page_data > a,
.widget_product_tag_cloud a,
.widget_tag_cloud a {
  -webkit-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  border-radius: 6px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.sc_button,
.sc_form button,
.sc_matches_item_pair .sc_matches_item_player .post_featured > img,
button:not(.components-button),
button:not(.search_submit),
input[type="button"],
input[type="reset"],
input[type="submit"],
.theme_button,
.post_item .more-link,
.gallery_preview_show .post_readmore {
  -webkit-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  border-radius: 6px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

span.wpcf7-list-item {
  margin-left: 0;
}

button:not(.search_submit):hover,
button:not(.search_submit):focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
.post_item .more-link:hover,
.comments_wrap .form-submit input[type="submit"]:hover,
.comments_wrap .form-submit input[type="submit"]:focus,
#buddypress .comment-reply-link:hover,
#buddypress .generic-button a:hover,
#buddypress a.button:hover,
#buddypress button:hover,
#buddypress input[type="button"]:hover,
#buddypress input[type="reset"]:hover,
#buddypress input[type="submit"]:hover,
#buddypress ul.button-nav li a:hover,
a.bp-title-button:hover,
.booked-calendar-wrap .booked-appt-list .timeslot .timeslot-people button:hover,
body #booked-profile-page .booked-profile-appt-list .appt-block .booked-cal-buttons .google-cal-button > a:hover,
body #booked-profile-page input[type="submit"]:hover,
body #booked-profile-page button:hover,
body .booked-list-view input[type="submit"]:hover,
body .booked-list-view button:hover,
body table.booked-calendar input[type="submit"]:hover,
body table.booked-calendar button:hover,
body .booked-modal input[type="submit"]:hover,
body .booked-modal button:hover,
.sc_button_default:hover,
.sc_button:not(.sc_button_simple):not(.sc_button_simple2):not(.sc_button_bordered):not(.sc_button_bg_image):hover,
.socials_share:not(.socials_type_drop) .social_icon:hover,
.tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"]:hover,
#tribe-bar-form .tribe-bar-submit input[type="submit"]:hover,
#tribe-bar-form .tribe-bar-submit input[type="submit"]:focus,
#tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"]:hover,
#tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"]:focus,
#tribe-bar-views li.tribe-bar-views-option a:hover,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover,
#tribe-events .tribe-events-button:hover,
.tribe-events-button:hover,
.tribe-events-cal-links a:hover,
.tribe-events-sub-nav li a:hover,
.edd_download_purchase_form .button:hover, .edd_download_purchase_form .button:active, .edd_download_purchase_form .button:focus,
#edd-purchase-button:hover, #edd-purchase-button:active, #edd-purchase-button:focus,
.edd-submit.button:hover, .edd-submit.button:active, .edd-submit.button:focus,
.widget_edd_cart_widget .edd_checkout a:hover,
.sc_edd_details .downloads_page_tags .downloads_page_data > a:hover,
.mc4wp-form input[type="submit"]:hover,
.mc4wp-form input[type="submit"]:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Buttons */
.sc_button_icon, .sc_button_text {
  line-height: 1em;
  vertical-align: top;
}

form button {
  padding: 1.2em 2.5em 1.17em;
}

.sc_recent_news_style_announce2 .sc_button,
.more-link a,
body .posts_container .more-link {
  font-size: 14px !important;
}

form button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.theme_button,
.post_item .more-link,
.gallery_preview_show .post_readmore,
#buddypress .comment-reply-link,
#buddypress .generic-button a,
#buddypress a.button,
#buddypress button,
#buddypress input[type="button"],
#buddypress input[type="reset"],
#buddypress input[type="submit"],
#buddypress ul.button-nav li a,
#buddypress div.activity-meta a,
a.bp-title-button,
body #booked-profile-page input[type="submit"],
body #booked-profile-page button,
body .booked-list-view input[type="submit"],
body .booked-list-view button,
body table.booked-calendar input[type="submit"],
body table.booked-calendar button,
body .booked-modal input[type="submit"],
body .booked-modal button,
.mc4wp-form .mc4wp-form-fields input[type="submit"],
.sc_button,
.sc_form button,
.tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"],
#tribe-bar-form .tribe-bar-submit input[type="submit"],
#tribe-bar-form button,
#tribe-bar-form a,
#tribe-bar-form input,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
#tribe-events .tribe-events-button,
.tribe-events-button,
.tribe-events-cal-links a,
.tribe-events-sub-nav li a,
.tribe-events-read-more,
#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button,
.edd_download_purchase_form .button,
#edd-purchase-button,
.edd-submit.button,
.widget_edd_cart_widget .edd_checkout a {
  padding: 1.2em 2.5em;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media (max-width: 1439px) {
  .sc_blogger_modern .more-link a {
    line-height: 1.3em;
  }
}

/*Mailchimp*/
.mc4wp-form img {
  width: auto;
}

.mc4wp-form-fields {
  text-align: center;
  padding-top: 0.1em;
}

form.mc4wp-form .mc4wp-form-fields input[type="email"] {
  line-height: 1.45em;
}

.elementor-widget-wp-widget-mc4wp_form_widget form.mc4wp-form .mc4wp-form-fields button {
  line-height: 1em;
  padding: 16.5px 35px !important;
}

.ua_gecko .elementor-widget-wp-widget-mc4wp_form_widget form.mc4wp-form .mc4wp-form-fields button {
  line-height: 1em;
  padding: 1.1em 2.5em 1.15em !important;
}

.ua_ie .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form-fields input[type="email"] {
  padding: 15.5px 20px !important;
}

.ua_gecko form.mc4wp-form .mc4wp-form-fields input[type="email"] {
  line-height: 1.35em;
}

.elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form-fields input[type="email"] {
  width: 73% !important;
  margin: 0 !important;
  padding: 14.5px 20px !important;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: left !important;
  border: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background-color: #fff !important;
}

@media (max-width: 767px) {
  .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form-fields input[type="email"] {
    border-radius: 6px !important;
  }
}

@media (max-width: 1023px) {
  .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form-fields input[type="email"] {
    padding: 1.28em 1.4em !important;
  }
}

@media (max-width: 767px) {
  .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form-fields input[type="email"] {
    width: 100% !important;
  }
}

.elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form-fields input[type="submit"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.elementor-widget-wp-widget-mc4wp_form_widget form.mc4wp-form .mc4wp-form-fields button {
  max-width: 10.6em;
  vertical-align: top;
  padding: 1.17em 2.5em 1.2em;
  border-radius: 6px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

@media (max-width: 767px) {
  .elementor-widget-wp-widget-mc4wp_form_widget form.mc4wp-form .mc4wp-form-fields button {
    border-radius: 6px !important;
    max-width: 100%;
  }
}

.elementor-widget-wp-widget-mc4wp_form_widget form.mc4wp-form .mc4wp-form-fields button .icon-paper-plane-light:before {
  position: absolute;
}

.elementor-widget-wp-widget-mc4wp_form_widget .check_form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  text-align: center;
}

.ua_gecko .elementor-widget-wp-widget-mc4wp_form_widget .mc4wp-form-fields input[type="email"] {
  padding: 15.6px 20px !important;
}

form.mc4wp-form .mc4wp-form-fields button .icon-paper-plane-light:before {
  margin-top: 0px !important;
  position: absolute;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing,
.trx_addons_field_error, .wpcf7-not-valid {
  border-color: #077fd3 !important;
}

span.wpcf7-not-valid-tip {
  color: #077fd3 !important;
}

div.wpcf7-mail-sent-ok {
  border-color: #7ec017 !important;
}

.wpcf7 div.wpcf7-response-output {
  border-radius: 6px;
}

/*Audio*/
.trx_addons_audio_player .audio_author,
.trx_addons_audio_player .audio_caption {
  font-weight: 600;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-controls .mejs-time-rail .mejs-time-hovered,
.mejs-controls .mejs-volume-slider .mejs-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #434b54 !important;
}

.mejs-volume-button.mejs-unmute > button,
.mejs-volume-button.mejs-mute > button {
  margin-left: 12px;
}

/*Skills*/
.sc_skills_pie.sc_skills_compact_off .sc_skills_total {
  font-weight: 600;
}

/*Posts*/
.post_categories > a,
.post_header_single .post_meta .post_categories > a {
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

body .secondary_meta_wrap .single_share .post_share .social_items .social_item .social_icon {
  vertical-align: middle;
}

.sticky .post_title {
  margin-bottom: 0 !important;
}

.sticky.post_item:not(.format-audio) .post_header {
  margin-bottom: 2.1em !important;
}

.header_position_default.thumbnail_type_fullwidth.post_header_position_under .header_content_wrap {
  margin-bottom: 5.9em;
}

.post_item_single .post_content > .post_meta_single .single_share .post_share .social_items .social_item + .social_item,
body .secondary_meta_wrap .single_share .post_share .social_items .social_item + .social_item {
  margin-left: 3px;
}

body .secondary_meta_wrap .single_share .post_share .social_items .social_item {
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.counters_wrap .post_meta .post_meta_item.post_counters_comments {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.counters_wrap .post_meta .post_meta_item:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.post_meta_single .post_tags > a {
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.blog .posts_container .post_format_quote .quote-wrapper .post_content,
.blog .posts_container .post_format_quote .quote-wrapper blockquote {
  margin-bottom: 0;
}

.quote-wrapper blockquote {
  padding: 0;
  margin: 0;
}

.quote-wrapper blockquote:before {
  top: 0;
  left: -1.5em;
}

.trx-blockquote {
  background: transparent !important;
  padding: 1em 2em !important;
}

.quote-wrapper .post_item .post_content {
  padding: 0;
}

.trx-blockquote:before {
  top: 0.6em !important;
  left: 0em !important;
}

.quote-wrapper + .post_meta {
  margin-top: 1.5em;
  padding-left: 2.2em;
}

.slider_container.slider_type_images .slider-slide > img {
  width: 100%;
}

.mfp-figure:after {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  right: 20px;
  text-align: right;
  padding-right: 6px;
  font-size: 29px;
  width: 40px;
  height: 40px;
  cursor: initial !important;
}

/*Related Posts*/
.sc_recent_news_style_announce2 .sc_button,
.more-link a,
body .posts_container .more-link {
  font-size: 0.883em;
  font-weight: 500;
}

.section_title {
  margin: 0 0 1.1em;
}

.related_wrap .posts_container.columns_wrap .column-1_3:first-of-type .related_item:not(.post_format_audio) .related_content_wrap {
  padding-top: 7.2em;
}

.related_wrap .posts_container.columns_wrap .column-1_3:first-of-type .related_item:not(.post_format_audio) .related_content_wrap .post_header_single .post_meta {
  margin-bottom: 1.2em;
}

.related_wrap .post_title {
  margin: 0em 0 0.4em;
  padding: 0 1.2em;
}

.related_wrap .posts_container.columns_wrap .column-1_3:not(:first-of-type) .related_content_wrap .post_title {
  padding: 1.4em 1.2em 0;
}

/*Navigation*/
.nav-links-more:not(.nav-links-infinite) a {
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.nav-links-more a {
  font-weight: 500;
}

/*Blogger*/
.sc_blogger .sc_blogger_filters .sc_blogger_filters_titles li a {
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.sc_blogger_modern .slider_container .blogger_content_wrap {
  padding: 6.8em 2.8em 2.6em;
}

.sc_blogger_modern .more-link {
  padding: 1.7em 2.8em;
}

.sc_blogger_full .more-link .sc_button,
.sc_blogger_default .more-link .sc_button {
  padding: 0;
}

.sc_blogger_full .sc_blogger_item_content,
.sc_blogger_default .sc_blogger_item_content {
  padding: 1.5em 1.8em;
}

.sc_blogger_modern .slider_container .blogger_content_wrap .post_meta + .sc_blogger_item_header {
  margin-top: 1.2em;
}

.nav-links-more:not(.nav-links-infinite) a {
  padding: 1.2em 2.2em;
}

.sc_blogger_full .trx_addons_column-1_1 .sc_blogger_item_content,
.sc_blogger_full .trx_addons_column-1_2 .sc_blogger_item_content,
.sc_blogger_default .trx_addons_column-1_1 .sc_blogger_item_content,
.sc_blogger_default .trx_addons_column-1_2 .sc_blogger_item_content {
  padding: 2.2em 1.8em 1.7em;
}

/*Widgets*/
.elementor-widget-sidebar .widget:not(.widget_popular_posts),
.sidebar .widget:not(.widget_popular_posts) {
  border-radius: 10px;
  padding: 1.8em;
}

.widget_popular_posts {
  padding: 0 !important;
  background-color: transparent !important;
}

.textwidget p {
  font-size: 15px;
}

.textwidget h4 {
  margin-top: 1.4em;
  margin-bottom: 0.4em;
}

.sc_blogger_modern .slider_container {
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.sc_blogger_modern .slider_outer_controls_bottom > .slider_controls_wrap {
  border-bottom-right-radius: 6px;
}

.sc_blogger_modern .slider_outer_controls_bottom > .slider_controls_wrap {
  padding: 0.5em 1em 0.5em 1.2em;
}

.nav-links-more a {
  font-size: 14px;
}

.elementor-widget-sidebar .widget + .widget,
.elementor-widget-sidebar[class*="scheme_"] .widget + .widget,
.sidebar .widget + .widget,
.sidebar[class*="scheme_"] .widget + .widget {
  margin-top: 1.7rem;
}

aside.widget_fullwidth {
  padding: 0 !important;
}

form.mc4wp-form .mc4wp-alert {
  font-size: 12px;
}

.sc_blogger_modern .trx_addons_columns_wrap > .trx_addons_column-4_10 .blogger_content_wrap {
  padding: 3em 2em;
}

/*# sourceMappingURL=skin.css.map */